<body class="bg-warning">
	<div class="container mt-5">
		<div class="card">
			<div class="card-header bg-info">
				<h1 class="text-white text-center">Edit article</h1>
			</div>

			<%= render 'form' %>
		</div>
		<br>
		<%= link_to 'Back', articles_path,class: "btn btn-success" %>
	</div>
</body>